nav{
  overflow: hidden;
  background-color: #71BBFF;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  border: 2px solid black;
  display: flex;
  z-index: 10;
  box-shadow: inset 0px 4px 12px 5px rgba(0,0,0,0.16);
}
.button{
  cursor:pointer;
  float:left;
}

#language{
  position:absolute;
  right:15px;
}
p{
  color:transparent;
  margin-right: 10px;
  margin-left: 10px;
}
#messageErreur{
  margin-top: 130px;
  overflow: hidden;
  position:fixed;
  background-color: transparent;
  text-align: center;
  width:60%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px)  {
  nav{
    width:100%;
    transform: scale(1);
    overflow-x: hidden;
  }
  #boutonsHeader, nav{
  }
  #language{
    transform: scale(0.7);
    height:10px;
  }
/*p{*/
/*  color: black;*/
/*}*/
  /*#messageErreur{*/
  /*  background-color: white;*/
  /*}*/

}


