<div id="contact">
  <div id="debutVide"></div>
  <p id="phrase"> Pour plus d'informations, contactez-moi</p>

  <div id="infos">
    <div id="mail">
      <div class="logo" class="fa-regular fa-envelope fa-3x"></div>
      <div id="texteMail"><p> sibylle.favreau@gmail.com</p></div>
    </div>
    <div id="linkedin">
      <a href="https://www.linkedin.com/in/sibylle-favreau-8ba1a01a8/" target="_blank" class="logo" class="fa-brands fa-linkedin-in fa-3x"></a>
      <div id="texteLinkedin"><p> Linkedin</p></div>
    </div>
    <div id="tel">
      <div class="logo" class="fa-solid fa-phone fa-3x"></div>
      <div id="num"> <p>07 83 63 86 85</p></div>
    </div>
  </div>
  <div id="traitFin"></div>
  <div id="copyright">
    <span>© SibylleFavreau(); 2023</span>
  </div>

</div>
