nav{
  overflow: hidden;
  background-color: rgba(184,218,249,1);
  position: fixed;
  width: 100%;
  /*opacity: 0.9;*/
  display: flex;
  z-index: 10;
  margin-top: 62px;
}
.button{
  cursor:pointer;
  float:left;
}
