<section id="pageMusique">
  <div id="presentation">
    <app-menu-loisirs id="barMenu"></app-menu-loisirs>
    <app-titre-page id="titreLoisir" [texteTitre]="titrePage[param.langue]" [logo]="'assets/noteMusique.png'" [taille]="[50,50]"></app-titre-page>
    <p id="paragraphe">{{paragraphe[param.langue]}}</p>
  </div>

  <div id="parcours">
    <div id="parcours1">
      <div class="traitVerticalHaut"></div>
      <div class="traitHorizontal"></div>
      <app-bulle-musique [annee]="year[0]" [description]="description[0][param.langue]" [images]="[images[0][0],images[0][1]]"></app-bulle-musique>
      <div class="traitHorizontal"></div>
      <div class="traitHorizontal"></div>
      <div class="traitVerticalBasGrand"></div>
    </div>
    <div id="parcours2">
      <div class="sousParcours">
        <div class="traitVerticalBasGrand"></div>
        <div class="traitHorizontal"></div>
      </div>
      <div id="2parcours" style="width: 385px;">
        <div class="sousParcours">
          <div class="traitVerticalBas"></div>
          <div class="traitHorizontalPetit"> </div>
          <app-bulle-musique [annee]="year[2]" [description]="description[2][param.langue]" [images]="[images[2][0],images[2][1]]"></app-bulle-musique>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalBas"></div>
        </div>
        <div class="sousParcours">
          <div class="traitVerticalHaut"></div>
          <div class="traitHorizontalPetit"> </div>
          <iframe width="229" height="140" data-embed-src="https://www.ultimedia.com/deliver/generic/iframe/mdtk/01124706/zone/1/src/vvxv3s" data-embed-vendor="Ouest-France" data-embed-purpose="editorial" data-embed-vendor-id="fonctionnement" data-embed-type="media" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade" data-embed-scanned="true" data-ofiframe-src="https://www.ultimedia.com/deliver/generic/iframe/mdtk/01124706/zone/1/src/vvxv3s" src="https://www.ultimedia.com/deliver/generic/iframe/mdtk/01124706/zone/1/src/vvxv3s" class="dgtk-ready"></iframe>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalHaut"></div>
        </div>
      </div>

      <div class="sousParcours">
        <div  class="traitHorizontalPetit"></div>
        <app-bulle-musique [annee]="year[1]" [description]="description[1][param.langue]" [images]="[images[1][0],images[1][1]]"></app-bulle-musique>
        <div class="traitHorizontalPetit"></div>
        <div class="traitVerticalHaut"></div>
      </div>
    </div>
    <div id="parcours3">
      <div class="traitVerticalHaut"></div>
      <div class="traitHorizontal"></div>
      <app-bulle-musique [annee]="year[3]" [description]="description[3][param.langue]" [images]="[images[3][0],images[3][1]]"></app-bulle-musique>
      <div class="traitHorizontal"></div>
      <div class="traitHorizontal"></div>
      <div class="traitHorizontal"></div>
      <div class="traitVerticalBasGrand"></div>
    </div>
    <div id="parcours4">
      <div class="sousParcours">
        <div class="traitVerticalBasGrand"></div>
        <div class="traitHorizontal"></div>
        <div class="traitHorizontal"></div>
        <div class="traitHorizontalPetit"></div>
      </div>
      <div id="2parcours2" style="width: 385px;">
        <div class="sousParcours">
          <div class="traitVerticalBas"></div>
          <div class="traitHorizontalPetit"></div>
          <app-bulle-musique [annee]="year[4]" [description]="description[4][param.langue]" [images]="[images[4][0],images[4][1]]"></app-bulle-musique>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalBas"></div>
        </div>
        <div class="sousParcours">
          <div class="traitVerticalHaut"></div>
          <div class="traitHorizontalPetit"></div>
          <iframe width="229" height="135" src="https://www.youtube.com/embed/fXSjpTEuALw?si=8WG_8ixIOJ2iOMfK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalHaut"></div>
        </div>
      </div>
      <div class="sousParcours">
        <div class="traitHorizontalPetit"></div>
        <div class="traitVerticalHaut"></div>
      </div>
    </div>
    <div id="parcours5">
      <div class="sousParcours">
        <div class="traitVerticalHaut"></div>
        <div class="traitHorizontalPetit"></div>
      </div>
      <div id="2parcours3" style="width: 385px;">
        <div class="sousParcours">
          <div class="traitVerticalBas"></div>
          <div class="traitHorizontalPetit"></div>
          <app-bulle-musique [annee]="year[5]" [description]="description[5][param.langue]" [images]="[images[5][0],images[5][1]]"></app-bulle-musique>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalBas"></div>
        </div>
        <div class="sousParcours">
          <div class="traitVerticalHaut"></div>
          <div class="traitHorizontalPetit"></div>
          <iframe width="229" height="135" src="https://www.youtube.com/embed/0_FewVctpFM?si=mutCLc52VPHLZiku" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalHaut"></div>
        </div>
      </div>
      <div class="sousParcours">
        <div class="traitHorizontal"></div>
        <div class="traitHorizontal"></div>
        <div class="traitHorizontalPetit"></div>
        <div class="traitVerticalBasGrand"></div>
      </div>
    </div>
    <div id="parcours6">
      <div class="sousParcours">
        <div id="fleche" class="logo" class="fa-solid fa-chevron-left fa-4x"></div>
        <div class="traitHorizontal"></div>
        <div class="traitHorizontal"></div>
        <div class="traitHorizontal"></div>
      </div>
      <div id="2parcours3" style="width: 385px;">
        <div class="sousParcours">
          <div class="traitVerticalBas"></div>
          <div class="traitHorizontalPetit"></div>
          <app-bulle-musique [annee]="year[6]" [description]="description[6][param.langue]" [images]="[images[6][0],images[6][1]]"></app-bulle-musique>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalBas"></div>
        </div>
        <div class="sousParcours">
          <div class="traitVerticalHaut"></div>
          <div class="traitHorizontalPetit"></div>
          <iframe width="229" height="135" src="https://www.youtube.com/embed/_Wb6kttXTd4?si=Z3i5igxAhCL0MFia" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="traitHorizontalPetit"></div>
          <div class="traitVerticalHaut"></div>
        </div>
      </div>
      <div class="sousParcours">
        <div class="traitHorizontalPetit"></div>
        <div class="traitVerticalHaut"></div>
      </div>
    </div>
  </div>
</section>





