#panneau{
  border: 3px solid red;
  border-radius: 10px;
  width:175px;
  height:50px;
}
#panneauDate{
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-top: -5px;
  margin-left: -5px;
}
#poteau{
  width:5px;
  height:130px;
  background-color: black;
}
p{
  font-family: 'Inika', sans-serif;
  font-size: 2em;
  margin-top: 0px;
}
