#panneau{
  border: 4px solid red;
  border-radius: 10px;
  width:175px;
  height:50px;
}
#etape{
  border: 4px dashed black;
  border-radius: 10px;
  width:175px;
  height:50px;
  background-color: rgba(214,63,53,0.31);
  display: flex;
  justify-content: center;
}
#etape2{
  border: 4px dashed black;
  border-radius: 20px;
  width:295px;
  height:90px;
  background-color: rgba(214,63,53,0.31);
  display: flex;
  justify-content: center;
}
#image{
  margin-left: 10px;
}
#panneauDate{
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-top: -5px;
  margin-left: -5px;
}
#poteau{
  width:5px;
  height:130px;
  background-color: black;
}
p{
  font-family: 'Inika', sans-serif;
  font-size: 2em;
  margin-top: 0px;
}
