#case{
  height:300px;
  width:70%;
  background-color: #9B97CB;
  border: 2px solid black;
  border-radius: 30px;
  float: right;
  margin-right: 20px;
  display:flex;
  margin-top: 20px;
  box-shadow: 4px 8px 11px 0px rgba(0,0,0,0.35);
}
#titre, #decrire{
  font-family: 'Inika', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
#case img{
  position: relative;
  transform: scale(0.95)  ;
  border: 1px solid black;
  margin-left: 10px;
  border-top: 2px solid black;
  margin-top: auto;
  margin-bottom: auto;
}
#titre{
  font-size: 1.8em;
}
#symbole{
  text-align: center;
}
#decrire{
  margin-top: -15px;
}
.fa-terminal{
  border: 3px solid black;
  padding:5px;
  margin-right:20px;
}
