#header{
  padding: 18px 16px;
  background-color: transparent;
  margin-bottom: 50px;
}
#titre{
  display:flex;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
  font-family: 'Inika', sans-serif;
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  margin-bottom: 50px;
}
#traitGauche{
  margin-right: 50px;
  margin-top: -25px;
  height: 2px;
  width: 15%;
  align-content: center;
  background-color: black;
  box-shadow: 1px 1px 1px black;
}
#traitDroit{
  margin-top:-25px;
  margin-left:50px;
  height: 2px;
  width: 15%;
  align-content: center;
  background-color: black;
  box-shadow: 1px 1px 1px black;
}
.logo{
  /*height:80px;*/
  /*width:50px;*/
  margin-top: -30px;
  margin-left: 20px;
  margin-right: 20px;
}
#blanc{
  width:100%;
  height:40px;
}
