#engrenage1{
  position:absolute;
  left:0;
  top:50%;
  margin-left: 275px;
  height:290px;
  width:305px;
  transform: translateY(-50%)  scale(0.6);
  animation: tourner 4s linear infinite;
  }

@keyframes tourner{
  0% {
    transform: translateY(-50%)  scale(0.6) rotate(0deg);
  }
  100% {
    transform: translateY(-50%)  scale(0.6) rotate(360deg);
  }
}
#engrenage2{
  position:absolute;
  left:0;
  top:25%;
  margin-left: 425px;
  height:175px;
  width:180px;
  transform: translateY(-50%)  scale(0.6);
  animation: tourner2 3s linear infinite;
  z-index:1;
}
@keyframes tourner2{
  0% {
    transform: translateY(-50%)  scale(0.6) rotate(0deg);
  }
  100% {
    transform: translateY(-50%)  scale(0.6) rotate(-360deg);
  }
}
