#caseEntremet{
  width:90%;
  margin-left: 5%;
  height:300px;
  background-color: #DEA7A7;
  border: 2px solid black;
  border-radius: 30px;
  margin-bottom: 20px;
}
h1{
  font-family: 'Indie Flower', cursive;
  margin-top: 10px;
}
#photos{
  display: inline-flex;
}
#text{
  display: inline-flex;
  flex-direction: column;
  width:400px;
  margin-left: 10px;
  margin-top: -15px;
}
#photosGateau{
  width:250px;
  height:200px;
  border: 1px solid black;
}
#photosPartGateau{
  width:250px;
  height:200px;
  margin-left: 15px;
  border: 1px solid black;
}
p{
  margin-bottom: -40px;
  font-family: 'Indie Flower', cursive;
}

