#pageCursus{
  background: linear-gradient(rgba(254,255,215,0.25),rgba(128,4,4,0.1));
  display: inline-flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}
#titrePage{
  width:100%;
}
#telecharger{
  cursor: pointer;
  border:3px solid black;
  padding: 10px 15px;
  height:20px;
  width:200px;
  text-align: center;
  background: linear-gradient(90deg, hsla(0, 11%, 60%, 1) 0%, hsla(0, 70%, 55%, 1) 100%);
  margin-top: -20px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}
a{
  font-family: 'Inika', sans-serif;
  font-weight: bold;
}
#cursus{
  margin-top: 120px;
  height:1350px;
  width:1200px;
  text-align: center;
  position: relative;
  display: flex;
}

#route {
  margin-top: -300px;
  position: absolute;
  margin-left: 50px;
  z-index: -1;
}
#paris{
  transform: scale(0.09) rotate(-4deg);
  position: absolute;
  top:-890px;
  left:-50px;
}
#nantes{
  position: absolute;
  transform: scale(0.8) rotate(-20deg);
  top:28px;
  left:120px;
}
#lyon{
  position: absolute;
  transform: rotate(42deg) scale(0.8);
  left:575px;
  top:350px;
}
#stockholm{
  position: absolute;
  transform:scale(0.3) rotate(-20deg);
  left:-320px;
  top:240px;
}
#lille{
  position:absolute;
  transform:scale(0.4) rotate(-15deg);
  top:735px;
  left:-250px;
}
#naissance{
  height: 50px;
  position: absolute;
  left:740px;
  top:-38px;
  transform: rotate(-6deg);
}
#panneauNantes{
  position: absolute;
  transform: rotate(-18deg);
  top:95px;
  left:285px;
}
#panneauLyon{
  position: absolute;
  transform: rotate(35deg);
  left:800px;
  top:385px;
}
#panneauStockholm{
  position: absolute;
  transform: rotate(-15deg);
  top:600px;
  left:350px;
}
#panneauLille{
  position: absolute;
  top:960px;
  transform: rotate(-12deg);
  left:200px;
}
#bac{
  position: absolute;
  top:320px;
  left:420px;
}
#gm{
  position: absolute;
  top:580px;
  left:560px;
}
#ingenieur{
  position: absolute;
  top:915px;
  left:-50px;
}
.explication{
  border: 3px dashed black;
  position: absolute;
  background-color: rgba(189,189,218,1);
  border-radius: 20px;
  font-family: 'Inika', sans-serif;
  height:100px;
  width:210px;
  padding:15px 10px;
  box-shadow: 4px 8px 11px 0px rgba(0,0,0,0.35);
  align-items: center;
  display:flex;
}
#caseNantes{
  transform: rotate(-18deg);
  left:205px;
  top:-65px;
}
#caseBac{
  left:150px;
  top:340px;
}
#caseInsa{
  left:885px;
  top:275px;
  transform: rotate(35deg);
}
#caseGm{
  left:800px;
  top:700px;
}
#caseErasmus{
  top:590px;
  left:70px;
  transform: rotate(-10deg);
}
#casePFE{
  top:1125px;
  left:300px;
  transform: rotate(-13deg);
}

@media only screen and (max-width: 600px) {

  #cursus{
    transform: scale(0.3);
    margin-top: -300px;
    height:1200px;
    margin-bottom: -100px;
  }
  #telecharger{
    transform: scale(0.8);
  }
}


