#pageCursus{
  background: linear-gradient(rgba(254,255,215,0.25),rgba(128,4,4,0.1));
  display: inline-flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}
#titrePage{
  width:100%;
}
#cursus{
  margin-top: 50px;
  height:1350px;
  width:1200px;
  text-align: center;
  position: relative;
  display: flex;
}

#route {
  margin-top: -300px;
  position: absolute;
  margin-left: 50px;
  z-index: -1;
}
#paris{
  transform: scale(0.09) rotate(-4deg);
  position: absolute;
  top:-890px;
  left:-50px;
}
#nantes{
  position: absolute;
  transform: scale(0.8) rotate(-20deg);
  top:28px;
  left:120px;
}
#lyon{
  position: absolute;
  transform: rotate(42deg) scale(0.8);
  left:575px;
  top:350px;
}
#stockholm{
  position: absolute;
  transform:scale(0.3) rotate(-15deg);
  left:-350px;
  top:250px;
}
#naissance{
  height: 50px;
  position: absolute;
  left:740px;
  top:-38px;
  transform: rotate(-6deg);
}
#panneauNantes{
  position: absolute;
  transform: rotate(-18deg);
  top:95px;
  left:285px;
}
#panneauLyon{
  position: absolute;
  transform: rotate(35deg);
  left:800px;
  top:385px;
}
#panneauStockholm{
  position: absolute;
  transform: rotate(-11deg);
  top:610px;
  left:325px;
}
#bac{
  position: absolute;
  top:320px;
  left:420px;
}
#gm{
  position: absolute;
  top:580px;
  left:560px;
}
#ingenieur{
  position: absolute;
  top:900px;
  left:100px;
}
.explication{
  border: 3px dashed black;
  position: absolute;
  background-color: rgba(189,189,218,1);
  border-radius: 20px;
  font-family: 'Inika', sans-serif;
  height:100px;
  width:200px;
  padding:15px 10px;
  box-shadow: 4px 8px 11px 0px rgba(0,0,0,0.35);
  align-items: center;
  display:flex;
}
#caseNantes{
  transform: rotate(-18deg);
  left:205px;
  top:-65px;
}
#caseBac{
  left:150px;
  top:340px;
}
#caseInsa{
  left:885px;
  top:275px;
  transform: rotate(35deg);
}
#caseGm{
  left:800px;
  top:700px;
}
#caseErasmus{
  top:600px;
  transform: rotate(-10deg);
}




