p{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 1.2em;
  margin: 0 70px;
}
@media only screen and (max-width: 600px)  {

  p{
    font-size: 0.7em;
    margin: 0 10px;
  }

}
