/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inika&display=swap');

a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}
body{
  margin: 0;
  padding: 0;
}
